@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

::selection{
	background: #BD1D28;
	color: #fff;
	text-shadow: none;
}

body{
	font-family: 'Lato', sans-serif;!important;
	font-weight: 200!important;
	color: #999;
}

h1{
	font-family: 'Lato', sans-serif;!important;
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    font-weight: 200!important;
	font-size: 70px;
	margin-bottom: 5px;
}

h2{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    font-weight: 200!important;
	font-size: 30px;
}

h3{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    font-weight: 200!important;
	font-size: 20px;
}

h4{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    font-weight: 200!important;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.teaser h4{
	color: #ffffff;
}

.teaser h3{
	color: #ffffff;
}

.lead{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;

    font-weight: 400!important;
	font-size: 14px;
	color: #fff !important;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
}

.rcopy{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;

    font-weight: 400!important;
	font-size: 10px;
	color: #999 !important;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.nav li a{
	font-family: 'Lato', sans-serif;!important;
	font-weight: 200!important;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.kebijakan{
	color: #ccc!important;
	font-size: 11px;
}

footer ul li a{
	font-family: 'Lato', sans-serif;!important;
	font-weight: 200!important;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 12px;
}
.tomboltipis{
	font-family: 'Lato', sans-serif;!important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;

    font-weight: 200!important;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-inner{
	background: #fff !important;
	color: #5D5E5E!important;
	box-shadow: none!important;
	border-bottom: solid 1px #EEEEEE;
}

.navbar .nav>li{
	background: transparent!important;
	color: #5D5E5E!important;
}

.navbar .nav>li a{
	background: transparent!important;
	color: #5D5E5E!important;
}
.navbar .nav>li:hover{
	background: #fff!important;
}

.navbar .nav>li a:hover{
	text-decoration: underline;
}

.h3kecil{
	font-size: 14px;
}

.plan-white{
	background-color: #fff;
	border: 1px solid #ccc;
}

.plan-white .plan-name{
	background-color: #fff;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto; 
}


@-moz-document url-prefix() {
    html,body,h1,h2,h3,h4, .lead, .rcopy, .nav li a, footer ul li a, .tomboltipis
	{
		font-family: source-sans-pro, helvetica, arial, sans-serif!important;
		-webkit-font-smoothing: antialiased;
		font-weight: 200!important;
		letter-spacing: 1px;
	}
}
